@{
    ViewBag.Title = "Appointment Booked";
}

<h2>Thank you!</h2>
<p>Your test drive appointment has been successfully booked. We will contact you shortly to confirm the details.</p>

<p>@Html.ActionLink("Back to vehicles", "Index", "Dashboard", null, new { @class = "btn btn-primary" })</p>
